.App {
  background-color: #282c34;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-label {
  color: white;
}

.form-error {
  color: red;
}

.intl-tel-input.allow-dropdown.separate-dial-code
  .selected-flag
  .selected-dial-code {
  padding-left: 0;
}

.iti-flag {
  background-color: none;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: -15px;
}

.intl-tel-input .flag-container .arrow.down::after {
  position: absolute;
  top: 8px;
  left: 60px;
}
